@model WhatIsElasticSearch.MvcWebUI.Models.ProductListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h2>Product List</h2>

<div class="text-right">
    <a asp-controller="Admin" asp-action="AddProduct" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-plus"></span> Add a new product</a>
</div>
<div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Units In Stock</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.UnitPrice.ToString("#.##")</td>
                    <td>@product.UnitsInStock</td>
                    <td><a class="btn btn-xs btn-info" asp-controller="Admin" asp-action="UpdateProduct" asp-route-productId="@product.Id"><span class="glyphicon glyphicon-pencil"></span> Update</a></td>
                    <td><a class="btn btn-xs btn-danger" asp-controller="Admin" asp-action="RemoveProduct" data-id="@product.Id" id="deleteProduct" asp-route-productId="@product.Id"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<admin-product-list-pager current-page="@Model.CurrentPage"
                          page-size="@Model.PageSize"
                          page-count="@Model.PageCount">
</admin-product-list-pager>

<script type="text/javascript">
    var button = document.getElementById("deleteProduct");

    button.onclick = function () {
        var dataId = button.getAttribute('data-id');
        var result = confirm("Are you want to delete this product?");
        if (result) {
            window.location.href = "/admin/removeproduct?productId=" + dataId;
        }
        else
            return false;
    };
</script>