@model WhatIsElasticSearch.MvcWebUI.Models.ProductListViewModel

    @{
        ViewData["Title"] = "Index";
        Layout = "~/Views/_Layout.cshtml";
    }

    <div>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <!-- <th>Unit Price</th> -->
                    <th>Units In Stock</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.product_name</td>
                        <!-- <td>product.unit_price.ToString("#.##")</td> -->
                        <td>@product.units_in_stock</td>
                        <td><a class="btn btn-xs btn-success" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@product.product_id">Add to cart</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
<product-list-pager current-category="@Model.CurrentCategory" 
                    current-page="@Model.CurrentPage" 
                    page-size="@Model.PageSize" 
                    page-count="@Model.PageCount">
</product-list-pager>